<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/"> Sample </a>
    </div>
    <!-- On the left side of our navbar we'll display the two links for public and private deals -->
    <ul class="nav navbar-nav">
        <!-- <li class="nav-item" routerLinkActive="active" >
            <a routerLink="/" >Home</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="dashboard" >Dashboard</a>
        </li>
    </ul>
    <!-- On the right side of our navbar we'll display the login and logout actions depending on user state -->
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a>Log In</a>
        </li>
        <li class="nav-item">
            <a>Log Out</a>
        </li>
    </ul>
</nav>

